<div class="container-fluid">
    <div class="row text-muted">
        <div class="col-6 text-start">
            <p class="mb-0">
                <a class="text-white" href="https://adminkit.io/" target="_blank">&copy; - <strong>Hortifruti </strong></a>  
            </p>
        </div>
        <div class="col-6 text-end">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-white" href="https://adminkit.io/" target="_blank">Suporte</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" href="https://adminkit.io/" target="_blank">Central de Ajuda</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" href="https://adminkit.io/" target="_blank">Privacidade</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-white" href="https://adminkit.io/" target="_blank">Termos</a>
                </li>
            </ul>
        </div>
    </div>
</div>